/* https://github.com/marcologous/Open-Sauce-Fonts */
@font-face {
  font-family: "Open Sauce Sans";
  src: url("fonts/OpenSauceSans-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sauce Sans";
  src: url("fonts/OpenSauceSans-Regular.ttf") format("truetype");
  font-weight: 400;
  
}
@font-face {
  font-family: "Open Sauce Sans";
  src: url("fonts/OpenSauceSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Open Sauce Sans";
  src: url("fonts/OpenSauceSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sauce Sans";
  src: url("fonts/OpenSauceSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sauce Sans";
  src: url("fonts/OpenSauceSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Open Sauce Sans";
  src: url("fonts/OpenSauceSans-Black.ttf") format("truetype");
  font-weight: 900;
}


/* gui */
.tp-dfwv {
  left: 8px;
}



:root {
  --color-bg: #080808;
  --color-type: #ffffff;
  --color-accent: #5667FF;
}





*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
  
*::selection {
  background: var(--color-type);
  color: var(--color-bg);
}

html {
  font-size: 16px; /* 1 rem */ 
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--color-bg);
  color: var(--color-type);
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-type);
  text-decoration: none;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100%;
  padding: 40px;
  max-width: 1920px;
  margin: 0 auto;
}

.m1 {
  margin-bottom: 8rem;

  svg { 
    width: 100%;
    height: auto;
    path {
      fill: var(--color-accent);
    }
  }
}



.m2 {
  text-align: center;
  width: 40%;
  margin: 0 auto 20rem auto;

  .sentence {
    font-size: 1.3rem;
    line-height: 140%;
    margin-bottom: 2rem;
  }

  .buttons-1 {
    display: flex; 
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .buttons-2 span {
    opacity: 0.8;
  }
}

a.btn {
  padding: 4px 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  transition: background 0.2s ease, color 0.2s ease;

  &:hover {
    background: #ffffff;
    color: #000000;
  }

  span {
    opacity: 0.5;
    font-weight: 300;
  }
}




