:root {
  --accent: #5667FF;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
  
  *::selection {
    background: #ffffff;
    color: #000000;
  }

  html {
    font-size: 16px; /* 1 rem */ 
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background: #080808;
    color: #ffffff;
    font-family: "Pilat Wide", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 0.25rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }
  
  
  .main {
    display: grid;
    width: 100vw;
    height: 100%;
    padding: 40px;
    transition: height 0.4s ease-out;

  }

  svg.wordmark { 
    width: 100%;
    height: auto;
    path {
      fill: var(--accent);
    }
  }
  
  .m2 {
    text-align: center;
  }

